body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
  transition: background 0.4s ease, color 0.4s ease;
}

.main{
  height: 109vh;
  width: 100%;
  background: url(coverpage_pics/c1.jpeg);
  background-position: center;
  background-size: cover;
}

h2{
  font-size: 2.8rem;
  color: white;
}

.info-container{
  background:  #4444aa;
  color: white;
  width: 360px;
  min-height: 60px;
  padding: 40px 35px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  transition: opacity 0.8s ease, transform 0.8s ease;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.315);
}

.info-container button{
  background:white;
  border-radius: 20px;
  width: 300px;
  border:none;
}

.info-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4444aa;
  text-decoration: none;
  transition:none;
  font-size: 20px;
}

.info-container ul li a i {
  margin-right: 12px;
  min-width: 24px;
  text-align: center;
  transform: scale(var(--icon-scale, 1));
  transition: transform 0.3s ease;
}

.info-container ul li a span {
  transition: opacity 0.3s, visibility 0.3s;
}

.info-container button:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

